<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.tripmate.domain.common.vo.CodeVO" alias="CodeVO"/>
        <typeAlias type="com.tripmate.domain.members.dto.DuplicationCheckDTO" alias="DuplicationCheckDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MemberMailDTO" alias="MemberMailDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.SignInDTO" alias="SignInDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.UpdatePasswordDTO" alias="UpdatePasswordDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MypageDTO" alias="MypageDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanAttributeVO" alias="PlanAttributeVO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanAddressVO" alias="PlanAddressVO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.PlanDTO" alias="PlanDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanMateVO" alias="PlanMateVO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanVO" alias="PlanVO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.PlanAttributeDTO" alias="PlanAttributeDTO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.SearchMemberDTO" alias="SearchMemberDTO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.PlanAuthCodeDTO" alias="PlanAuthCodeDTO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.NotificationDTO" alias="NotificationDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.NotificationVO" alias="NotificationVO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.UpdateNotificationReadDateTimeDTO" alias="UpdateNotificationReadDateTimeDTO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.ExitPlanDTO" alias="ExitPlanDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.InviteCodeVO" alias="InviteCodeVO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.PlanMateDTO" alias="PlanMateDTO"/>
        <typeAlias type="com.tripmate.domain.wishlist.dto.PostDTO" alias="PostDTO"/>
        <typeAlias type="com.tripmate.domain.wishlist.vo.PostVO" alias="PostVO"/>
        <typeAlias type="com.tripmate.domain.wishlist.dto.CommentDTO" alias="CommentDTO"/>
        <typeAlias type="com.tripmate.domain.wishlist.vo.CommentVO" alias="CommentVO"/>
        <typeAlias type="com.tripmate.domain.wishlist.dto.DeleteCommentDTO" alias="DeleteCommentDTO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.dto.DailyPlanDTO" alias="DailyPlanDTO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.dto.DeleteDailyPlanDTO" alias="DeleteDailyPlanDTO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.vo.DailyPlanCntVO" alias="DailyPlanCntVO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.vo.DailyPlanVO" alias="DailyPlanVO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.dto.DailyPlanByDayDTO" alias="DailyPlanByDayDTO"/>
        <typeAlias type="com.tripmate.domain.dailyplans.dto.DeleteDailyPlanNotificationDTO" alias="DeleteDailyPlanNotificationDTO"/>
        <typeAlias type="com.tripmate.domain.reviews.dto.ReviewDTO" alias="ReviewDTO"/>
        <typeAlias type="com.tripmate.domain.reviews.dto.ReviewImageDTO" alias="ReviewImageDTO"/>
        <typeAlias type="com.tripmate.domain.reviews.vo.ReviewVO" alias="ReviewVO"/>
        <typeAlias type="com.tripmate.domain.reviews.dto.DeleteReviewDTO" alias="DeleteReviewDTO"/>
        <typeAlias type="com.tripmate.domain.checklist.dto.CheckListDTO" alias="CheckListDTO"/>
        <typeAlias type="com.tripmate.domain.checklist.dto.MyCheckListDTO" alias="MyCheckListDTO"/>
        <typeAlias type="com.tripmate.domain.checklist.vo.CheckListVO" alias="CheckListVO"/>
        <typeAlias type="com.tripmate.domain.checklist.dto.DeleteCheckListDTO" alias="DeleteCheckListDTO"/>
        <typeAlias type="com.tripmate.domain.checklist.dto.UpdateCheckYnDTO" alias="UpdateCheckYnDTO"/>
    </typeAliases>
</configuration>