<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.tripmate.domain.members.dto.DuplicationCheckDTO" alias="DuplicationCheckDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MemberMailDTO" alias="MemberMailDTO"/>
        <typeAlias type="com.tripmate.domain.common.vo.CodeVO" alias="CodeVO"/>
        <typeAlias type="com.tripmate.domain.members.dto.SignInDTO" alias="SignInDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.ChangePasswordDTO" alias="ChangePasswordDTO"/>
        <typeAlias type="com.tripmate.domain.members.dto.MypageDTO" alias="MypageDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanAttributeVO" alias="PlanAttributeVO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanAddressVO" alias="PlanAddressVO"/>
        <typeAlias type="com.tripmate.domain.plans.dto.CreatePlanDTO" alias="CreatePlanDTO"/>
        <typeAlias type="com.tripmate.domain.plans.vo.PlanMateVO" alias="PlanMateVO"/>
    </typeAliases>
</configuration>